  <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <h1 href="/" class="d-flex align-items-center text-dark text-decoration-none p-2">
      <app-header></app-header>
    </h1>
    
    <nav class="d-inline-flex m-2 mt-md-0 ms-md-auto">

      <!-- <a class="me-3 py-2 text-dark text-decoration-none" href="#">Features</a>
      <a class="me-3 py-2 text-dark text-decoration-none" href="#">Enterprise</a>
      <a class="me-3 py-2 text-dark text-decoration-none" href="#">Support</a>
      <a class="py-2 text-dark text-decoration-none" href="#">Pricing</a> -->
    </nav>
    <button class="btn btn-outline-primary m-2" (click)="navigateToMyProfile()">My Profile</button>
  </div>